body {

    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'blackhand_trialregular';
    src: url('blackhand_trial-webfont.woff2') format('woff2'),
    url('blackhand_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#titel {

    background-image: url(titelblad.svg);
    background-size: 100%, 100%;

    width: 140vh;
    height: 100vh;


}

#valg1 {

    background-color: rgba(0, 200, 250, 0.5);
    color: white;
    width: 15vw;
    height: 3vw;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    font-family: 'blackhand_trialregular', sans-serif;
    font-size: 1em;
    position: absolute;
    left: 25vw;
    top: 15vw;
    padding: 2px;
    z-index: 200;
    border-radius: 10px;
    cursor: pointer;

}

#valg1:hover {

    background-color: rgba(0, 200, 250, 0.5);
    color: white;
    width: 15vw;
    height: 3vw;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    font-family: 'blackhand_trialregular', sans-serif;
    font-size: 1em;
    position: absolute;
    left: 25vw;
    top: 15vw;
    transform: scale(1.2);
    z-index: 200;
    border-radius: 10px;
    cursor: pointer;
}

#valg2 {

    background-color: rgba(0, 200, 250, 0.5);
    color: white;
    width: 15vw;
    height: 3vw;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    font-family: 'blackhand_trialregular', sans-serif;
    font-size: 1em;
    position: absolute;
    left: 45vw;
    top: 15vw;
    padding: 2px;
    z-index: 200;
    border-radius: 10px;
    cursor: pointer;
}

#charge {

    background-color: rgba(0, 200, 250, 0.6);
    color: white;
    width: 15vw;
    height: 15vw;
    text-align: center;
    text-decoration: none;
    font-family: 'blackhand_trialregular', sans-serif;
    font-size: 1em;
    position: absolute;
    left: 35vw;
    top: 5vw;
    padding: 2px;
    z-index: 200;
    border-radius: 50px;
    vertical-align: middle;
    line-height: 100px;
    cursor: pointer;
}

.puls {

    animation-name: puls_kf;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
}

@keyframes puls_kf {

    0% {

        transform: scale(1);
    }

    100% {

        transform: scale(1.2);
    }
}

#valg2:hover {

    background-color: rgba(0, 200, 250, 0.5);
    color: white;
    width: 15vw;
    height: 3vw;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    font-family: 'blackhand_trialregular', sans-serif;
    font-size: 1em;
    position: absolute;
    transform: scale(1.2);
    left: 45vw;
    top: 15vw;
    padding: 2px;
    z-index: 200;
    border-radius: 10px;
    cursor: pointer;
}


.sectionwrapper {


    display: flex;
    flex-wrap: wrap;
    margin-left: 180px;
    margin-top: 20px;

}

.knap {

    background-color: skyblue;
    color: white;
    margin: 5px 5px;
    padding: 10px;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    font-family: 'blackhand_trialregular';
    font-size: 1.4em;
    display: flex;
    cursor: pointer;


}

.knap:hover {

    background-color: skyblue;
    color: white;
    margin: 2px 2px;
    padding: 10px;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    font-family: 'blackhand_trialregular';
    font-size: 1.4em;
    cursor: pointer;

}

#scene {

    width: 100vw;
    /* svarer til 1600px */
    height: 56.25vw;
    /* svarer til 900 px */
    position: relative;
    overflow: hidden;
}

#baggrund {

    width: 100%;
    height: 100%;

    width: 100vw;
    height: 56.25vw;

    position: absolute;


    background-image: url(baggrund-01-01-01.svg);
    background-size: 100%, 100%;
}

#himmel {


    width: 100vw;
    height: 56.25vw;
    position: absolute;

    background-image: url(moonstars2-01.svg);
    background-size: 100%, 100%;

    animation-name: himmel_kf;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}

#mellemgrund {


    width: 100vw;
    height: 56.25vw;
    position: absolute;

    background-image: url(mellemgrund-01-01.svg);
    background-size: 100%, 100%;

}


#ildfluer_bag {

    width: 100vw;
    height: 56.25vw;

    position: absolute;


    background-image: url(fireflies-back-01.png);
    background-size: 100%, 100%;

    animation-name: ildflue_bag;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;



}

#bear_sprite3 {

    width: 16vw;
    height: 44vw;

    position: absolute;

    transform: scale(0.9);

    left: 60vw;



    background-image: url(bear_side_now.svg);
    background-size: 100%, 100%;
}


#bear_container {

    position: absolute;
}

#bear_sprite {


    width: 22vw;
    height: 31.25vw;

    position: absolute;

    transform: scale(2.2);

    top: 10vw;
    left: 68vw;

    background-image: url(rip_bear-02.svg);
    background-size: 700%, 100%;


}

#fox_container {

    position: absolute;
}


#fox_sprite {


    width: 20vw;
    height: 22.25vw;

    position: absolute;

    left: 30vw;
    top: 22vw;


    background-image: url(pls2.svg);
    background-size: 400%, 100%;


}

/* ræv kommer ind */

.moving_fox {

    animation-name: moving_fox_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}


@keyframes moving_fox_kf {

    0% {

        left: -30vw;


    }

    100% {

        left: 0vw;

    }
}

/* ræv går */

.walk_fox {
    animation-name: walk_fox_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

}

@keyframes walk_fox_kf {

    0% {

        background-position: 0 0;
    }

    100% {

        background-position: -400% 0%;
    }
}

/* ræv står stille */

.fox_center {

    animation-name: fox_still_kf;
    animation-iteration-count: 1;
    animation-duration: 3s;

}

@keyframes fox_still_kf {

    100% {

        left: 0vw;
    }

}

.bear_center {

    animation-name: bear_still_kf;
    animation-iteration-count: infinite;

}

@keyframes bear_still_kf {

    100% {

        left: 65vw;
    }
}


/* ræv vender sig om */

.fox_turn {

    animation-name: turningfox_kf;
    animation-direction: normal;
    animation-duration: 1s;


}

@keyframes turningfox_kf {

    0% {

        background-position: -100% -100%;
        left: 30vw;
        top: 18vw;

    }


    100% {

        background-position: -100% -100%;
        left: 30vw;
        top: 18vw;


    }

}

/* ræv løber */

.fox_run_move {

    animation-name: foxrunmove_kf;
    animation-duration: 1s;


}


@keyframes foxrunmove_kf {


    0% {

        left: 0vw;
        top: -4vw;




    }

    100% {

        left: -18vw;
        top: -4vw;

    }

}

.fox_run {

    animation-name: foxruns_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;


}




@keyframes foxruns_kf {

    0% {

        background-position: 0% -100%;
    }

    100% {

        background-position: 400% -100%;
    }
}

/* fox fight */

.fox_attack {

    animation-name: foxattack_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;

}

@keyframes foxattack_kf {

    0% {

        left: 0vw;


    }

    50% {

        left: 30vw;


    }

    100% {

        left: 0vw;
    }
}

/* fox lose */

.fox_lose {

    animation-name: foxlose_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}





@keyframes foxlose_kf {


    0% {

        left: 12vw;
        background-position: 0 100%;
        transform: scale(1, -1);
        top: 28vw;

        width: 22vw;
        height: 18vw;

    }

    100% {

        left: 12vw;
        background-position: 0 100%;
        transform: scale(1, -1);
        top: 28vw;

        width: 22vw;
        height: 18vw;
    }
}

#forgrund {

    width: 100vw;
    height: 56.25vw;

    position: absolute;

    background-image: url(forgrund-01.svg);
    background-size: 100%, 100%;


}


#ildfluer_front {

    width: 100vw;
    height: 56.25vw;



    background-image: url(fireflies-front-01.png);
    background-size: 100%, 100%;

    position: absolute;


    animation-name: ildfluer_front;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}


.walk_bear {

    animation-name: walk_bear_kf;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: steps(7);
    animation-iteration-count: infinite;

}




@keyframes walk_bear_kf {

    from {

        background-position: 0 0;
    }

    to {

        background-position: -700% 0%;
    }
}




.moving_bear {

    animation-name: moving_bear_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}



@keyframes moving_bear_kf {

    0% {

        left: 60vw;


    }

    100% {

        left: 0vw;


    }
}


.bear_attack {

    animation-name: bear_attack_kf;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}



@keyframes bear_attack_kf {

    0% {

        left: 0vw;


    }

    50% {

        left: -55vw;


    }

    100% {

        left: 0vw;
    }
}



@keyframes ildfluer_front {

    0% {

        left: 0vw;
        top: 0vw;

    }

    25% {

        left: 1vw;
        top: 0vw;
    }

    50% {

        left: 1vw;
        top: -1vw;
    }

    75% {

        left: 0vw;
        top: -1vw;
    }

    100% {

        left: 0vw;
        top: 0vw;
    }
}



@keyframes ildflue_bag {

    0% {

        left: 0vw;
        top: 0vw;

    }

    25% {

        left: 1vw;
        top: 0vw;
    }

    50% {

        left: 1vw;
        top: -1vw;
    }

    75% {

        left: 0vw;
        top: -1vw;
    }

    100% {

        left: 0vw;
        top: 0vw;
    }
}

@keyframes himmel_kf {


    from {

        background-image: url(moonstars2-01.svg);
    }

    to {

        background-image: url(moon_final-01.svg);
    }
}

#clawmarks {


    width: 20vw;
    height: 25vw;



    position: absolute;

    background-image: url(claw_marks-01.svg);
    background-size: 100%, 100%;

}


.klo {

    animation-name: klokf;
    animation-delay: 2s;
    animation-duration: 1s;

}

@keyframes klokf {

    0% {

        left: 12vw;
        top: 13vw;
        transform: scale(1);
    }

    100% {

        left: 12vw;
        top: 15vw;
        transform: scale(0);
    }
}

.klo_fox {

    animation-name: klofoxkf;
    animation-delay: 2s;
    animation-duration: 1s;

}


@keyframes klokfoxkf {

    0% {

        left: 50vw;
        top: 13vw;
        transform: scale(1);
    }

    100% {

        left: 50vw;
        top: 15vw;
        transform: scale(0);
    }
}


#fox_sprite2 {


    width: 21.8vw;
    height: 31.25vw;

    position: absolute;


    top: 15vw;
    left: 30vw;

    background-image: url(foxy_side-01.svg);
    background-size: 200%, 100%;

}

.win_fox {

    animation-name: winkf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2)
}


@keyframes winkf {

    from {

        background-position: 0%, 0%;
    }

    to {

        background-position: 200%, 0%;

    }
}

#bear_sprite2 {

    width: 50.8vw;
    height: 60.25vw;

    position: absolute;


    top: -8vw;
    left: 50vw;

    background-image: url(bearDie-01.svg);
    background-size: 100%, 100%;
}

.bear_attack_again {

    position: absolute;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: bearattackagainkf;
}

@keyframes bearattacksagainkf {}
