body {

    margin: 0;
    padding: 0;
}

#scene {

    width: 100vw;
    /* svarer til 1600px */
    height: 56.25vw;
    /* svarer til 900 px */
    position: relative;
}

#baggrund {

    width: 100%;
    height: 100%;

    width: 100vw;
    height: 56.25vw;
    position: absolute;


    background-image: url(baggrund-01.svg);
    background-size: 100%, 100%;
}

#himmel {


    width: 100vw;
    height: 56.25vw;
    position: absolute;

    background-image: url(stars-moon-01.svg);
    background-size: 100%, 100%;

    animation-name: himmel;
    animation-duration: 2s;
    animation-iteration-count: infinite;


}

#mellemgrund {


    width: 100vw;
    height: 56.25vw;
    position: absolute;

    background-image: url(mellemgrund-01-01.svg);
    background-size: 100%, 100%;

}


#ildfluer_bag {

    width: 100vw;
    height: 56.25vw;

    position: absolute;

    top: 24.5vw;
    left: 90vw;




    background-image: url(fireflies-back.svg);
    background-size: 100%, 100%;

    animation-name: ildflue bag;
    animation-duration: 2s;
    animation-iteration-count: infinite;


}

#fox {


    width: 42.5vw;
    height: 28.37vw;
    position: absolute;

    transform: scale(0.45);


    background-image: url(foxy.svg);
    background-size: 100%, 100%;


    animation-name: fox;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}


#bear {


    width: 120vw;
    height: 67.5vw;
    position: absolute;

    transform: scale(1.6);


    background-image: url(bear_1.svg);
    background-size: 100%, 100%;

    animation-name: bear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#forgrund {

    width: 100vw;
    height: 56.25vw;


    position: absolute;

    background-image: url(forgrund-01.svg);
    background-size: 100%, 100%;


}


#ildfluer_front {

    width: 100vw;
    height: 56.25vw;

    background-image: url(fireflies-front-01.svg);
    background-size: 100%, 100%;

    position: absolute;

}


@keyframes fox {

    from {

        top: 17vw;
        left: -20vw;

    }

    to {

        top: 17vw;
        left: 13vw;

    }
}

@keyframes bear {

    from {

        top: 20vw;
        left: 100vw;

    }

    to {

        top: 20vw;
        left: 57vw;
    }

}
