body {

    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'blackhand_trialregular';
    src: url('blackhand_trial-webfont.woff2') format('woff2'),
    url('blackhand_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.sectionwrapper {


    display: flex;
    flex-wrap: wrap;
    margin-left: 180px;
    margin-top: 20px;


}

.button {

    background-color: skyblue;
    color: white;
    margin: 5px 5px;
    padding: 10px;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    font-family: 'blackhand_trialregular';
    font-size: 1.4em;
    display: flex;


}

.button:hover {

    background-color: skyblue;
    color: white;
    margin: 2px 2px;
    padding: 10px;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    font-family: 'blackhand_trialregular';
    font-size: 1.4em;
    box-shadow:
}

#scene {

    width: 100vw;
    /* svarer til 1600px */
    height: 56.25vw;
    /* svarer til 900 px */
    position: relative;
    overflow: hidden;
}

#baggrund {

    width: 100%;
    height: 100%;

    width: 100vw;
    height: 56.25vw;

    position: absolute;


    background-image: url(baggrund-01-01-01.svg);
    background-size: 100%, 100%;
}

#himmel {


    width: 100vw;
    height: 56.25vw;
    position: absolute;

    background-image: url(stars-moon-01.svg);
    background-size: 100%, 100%;

    animation-name: himmel;
    animation-duration: 2s;



}

#mellemgrund {


    width: 100vw;
    height: 56.25vw;
    position: absolute;

    background-image: url(mellemgrund-01-01.svg);
    background-size: 100%, 100%;

}


#ildfluer_bag {

    width: 100vw;
    height: 56.25vw;

    position: absolute;


    background-image: url(fireflies-back-01.png);
    background-size: 100%, 100%;

    animation-name: ildflue_bag;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;



}


#bear_container {

    position: absolute;
}

#bear_sprite {


    width: 22vw;
    height: 31.25vw;

    position: absolute;

    transform: scale(2.2);

    top: 10vw;
    left: 65vw;

    background-image: url(rip_bear-02.svg);
    background-size: 700%, 100%;


}

#fox_container {

    position: absolute;
}


#fox_sprite {


    width: 22vw;
    height: 31.25vw;

    position: absolute;

    left: 20vw;
    top: 13vw;


    background-image: url(fox-ani-02-02.svg);
    background-size: 400%, 100%;


}

/* ræv kommer ind */

.moving_fox {

    animation-name: moving_fox_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}


@keyframes moving_fox_kf {

    0% {

        left: -35vw;


    }

    100% {

        left: 0vw;

    }
}

/* ræv går */

.walk_fox {
    animation-name: walk_fox_kf;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

}

@keyframes walk_fox_kf {

    0% {

        background-position: 0 0;
    }

    100% {

        background-position: -400% 0%;
    }
}

/* ræv står stille */

.fox_center {

    animation-name: fox_still_kf;
    animation-duration: infinite;

}

@keyframes fox_still_kf {

    left: 20vw;
}


.bear_center {

    animation-name: bear_still_kf;
    animation-duration: infinite;

}

@keyframes bear_still_kf {

    left: 65vw;
}



/* ræv vender sig om */

.fox_turn {

    animation-name: fox_turn_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;

}


#forgrund {

    width: 100vw;
    height: 56.25vw;

    position: absolute;

    background-image: url(forgrund-01.svg);
    background-size: 100%, 100%;


}


#ildfluer_front {

    width: 100vw;
    height: 56.25vw;



    background-image: url(fireflies-front-01.png);
    background-size: 100%, 100%;

    position: absolute;


    animation-name: ildfluer_front;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}


.walk_bear {

    animation-name: walk_bear_kf;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: steps(7);
    animation-iteration-count: infinite;

}




@keyframes walk_bear_kf {

    from {

        background-position: 0 0;
    }

    to {

        background-position: -700% 0%;
    }
}




.moving_bear {

    animation-name: moving_bear_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}



@keyframes moving_bear_kf {

    0% {

        left: 60vw;


    }

    100% {

        left: 0vw;


    }
}



.standing_center {

    left: 35;


}




@keyframes ildfluer_front {

    0% {

        left: 0vw;
        top: 0vw;

    }

    25% {

        left: 1vw;
        top: 0vw;
    }

    50% {

        left: 1vw;
        top: -1vw;
    }

    75% {

        left: 0vw;
        top: -1vw;
    }

    100% {

        left: 0vw;
        top: 0vw;
    }
}



@keyframes ildflue_bag {

    0% {

        left: 0vw;
        top: 0vw;

    }

    25% {

        left: 1vw;
        top: 0vw;
    }

    50% {

        left: 1vw;
        top: -1vw;
    }

    75% {

        left: 0vw;
        top: -1vw;
    }

    100% {

        left: 0vw;
        top: 0vw;
    }
}
